{% extends "base.html" %}

{% block content %}
    <h1>Make a Reservation</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.date.label }}<br>
            {{ form.date(class="datepicker") }}<br>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.time.label }}<br>
            {{ form.time(class="timepicker") }}<br>
            {% for error in form.time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}